services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    ports:
      - "8088:8080"
    command:
      - start-dev

  # app:
  #   build: .
  #   ports:
  #     - "8082:8082"
  #   depends_on:
  #     - keycloak