services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - ./lacs2026-dev-realm.json:/opt/keycloak/data/import/realm.json
    ports:
      - "8088:8080"
    command:
      - start-dev
      - --import-realm
  
volumes:
  keycloak-data:

  # app:
  #   build: .
  #   ports:
  #     - "8082:8082"
  #   depends_on:
  #     - keycloak